export(clusterfly)
S3method(ggobi, clusterfly)
S3method(print, clusterfly)
S3method("[[<-", clusterfly)
S3method(as.data.frame, clusterfly)
import(rggobi)
export(cfly_show)
export(cfly_clarify)
export(cfly_cluster)
export(cfly_animate)
export(ellipse)
export(clusters)
S3method(clusters, kmeans)
S3method(clusters, default)
S3method(clusters, partition)
export(cfly_pcp)
export(cfly_dist)
export(cfly_fluct)
export(hierfly)
S3method(print, hierfly)
S3method(ggobi, hierfly)
S3method(cut, hierfly)
export(addhull)
export(mefly)
export(ggobi.som)
importFrom(e1071, matchClasses)
